<%= simple_form_for(@restaurant, :html => { multipart: true }) do |f| %>
<div class="restaurant-form">
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :phone %>
  <%= f.input :website %>
  <%= f.input :image %>
</div>
  <%= f.button :submit, :class => "tiny round button" %>
<% end %>
