<div class="small-12 medium-12 large-12 headline columns">
  <% if user_signed_in? %>
    <div class="instruction">
      <h4>Great! Now that we are all signed up, it's time to check out some restaurants!</h4>
    </div>
  <% else %>
    <h1>Welcome to Yelper!</h1>
    <div class="instruction">
      <h4> Our first step is going to be creating a user account. Please make one by clicking the "Sign Up" link in the top right corner! &#8599;
      </h4>
   </div>
  <% end %>
</div>
<hr>
<div class="small-12 medium-9 large-9 columns">
  <%= render 'layouts/banner' %>
  <h1 title="Here we have a list of all the restaurants on this site. On the bottom of each listing is CRUD functionality defined in my restaurant controller by creating an instance of the restaurant model and attaching methods based on what I would like to do.... For example, in order for me to edit an entry, I allow the edit button to trigger the restaurant controller's update function where I overwrite the current instance's parameters like so: '@restaurant = Restaurant.new(restaurant_params)'. Restaurant_params is defined in a private function to ensure no malicious code gets entered. On the bottom of the list there is a button to create a new restaurant of your choosing. In order for me to display the list of restaurants, I simply assign a variable in the restaurant controller's index function that utilizes the '.all' method like so: '@restaurants = Restaurant.all'. From there, I use the  '@restaurants' variable in my view to iterate through each listing using an 'each do' method.">Restaurants</h1>
  <hr>
  <% @restaurants.each do |restaurant| %>
    <div class="row" title="Each listing is it's own grid with a 4/8 column split, all within the 9 column of the landing page's main grid. The other 3 columns of the main grid are allocated to the sidebar.">
      <div class="large-3 columns">
          <div class="homepage-img">
            <p><%= image_tag restaurant.image %></p>
          </div>
      </div>
      <div class="large-9 columns">
          <ul class="restaurant-details">
            <li><%= restaurant.name %></li>
            <li><%= restaurant.address %></li>
            <li><%= restaurant.phone %></li>
            <li><%= link_to restaurant.website, restaurant.website %></li>
          </ul>
          <ul class="restaurant-edit">
            <li title="Click here after you finish checking out this page. It will take you to the restaurant show page for more details and a link to create your own review!"><%= link_to 'Show', restaurant %></li>
            <li><%= link_to 'Edit', edit_restaurant_path(restaurant) %></li>
            <li><%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></li>
          </ul>
      </div>
      <hr>
    </div>
  <% end %>
  <br>
  <%= link_to 'New Restaurant', new_restaurant_path, :class => "tiny round button" %>
</div>
<div class="small-12 medium-3 large-3 columns sidebar-content">
  <h3>Sidebar Stuff</h3>
  <hr>
  <div class="row" title="I created this sidebar to demonstrate my familiarity with nested grids. Here we have a 4/8 grid of columns nested within the 3 column side of  the main grid. The other 9 are allocated to the restaurant listings. I have intentionally laid this grid out to be in a reverse orientation of its parent and restaurant listings.">
    <div class="large-8 large-8-sidebar columns">
      <h5>Lorem.</h5>
      <p>Deep v literally farm-to-table dreamcatcher pop-up mumblecore, pork belly 8-bit VHS plaid raw denim Neutra.
       </p>
    </div>
    <div class="large-4 large-4-sidebar columns">
      <p><%= image_tag"http://lorempixel.com/200/200/cats/3/"  %></p>
    </div>
  </div>
  <hr>
  <div class="row" title="I created this sidebar to demonstrate my familiarity with nested grids. Here we have a 4/8 grid of columns nested within the 4 column side of it's parent grid. I have intentionally laid this grid out to be in a reverse orientation of its parent which is an 8/4 column layout.">
    <div class="large-8 large-8-sidebar columns">
      <h5>Lorem.</h5>
      <p>Deep v literally farm-to-table dreamcatcher pop-up mumblecore, pork belly 8-bit VHS plaid raw denim Neutra.
       </p>
    </div>
    <div class="large-4 large-4-sidebar columns">
      <p><%= image_tag"http://lorempixel.com/200/200/cats/4/"  %></p>
    </div>
  </div>
  <hr>
  <div class="row" title="I created this sidebar to demonstrate my familiarity with nested grids. Here we have a 4/8 grid of columns nested within the 4 column side of it's parent grid. I have intentionally laid this grid out to be in a reverse orientation of its parent which is an 8/4 column layout.">
    <div class="large-8 large-8-sidebar columns">
      <h5>Lorem.</h5>
      <p>Deep v literally farm-to-table dreamcatcher pop-up mumblecore, pork belly 8-bit VHS plaid raw denim Neutra.
       </p>
    </div>
    <div class="large-4 large-4-sidebar columns">
      <p><%= image_tag"http://lorempixel.com/200/200/cats/5/"  %></p>
    </div>
  </div>
  <hr>
  <div class="row" title="I created this sidebar to demonstrate my familiarity with nested grids. Here we have a 4/8 grid of columns nested within the 4 column side of it's parent grid. I have intentionally laid this grid out to be in a reverse orientation of its parent which is an 8/4 column layout.">
    <div class="large-8 large-8-sidebar columns">
      <h5>Lorem.</h5>
      <p>Deep v literally farm-to-table dreamcatcher pop-up mumblecore, pork belly 8-bit VHS plaid raw denim Neutra.
       </p>
    </div>
    <div class="large-4 large-4-sidebar columns">
      <p><%= image_tag"http://lorempixel.com/200/200/cats/6/"  %></p>
    </div>
  </div>
  <hr>
</div>
<div class="footer-img">
  <%= image_tag"https://s3-us-west-2.amazonaws.com/yelper/cityscape.png" %>
</div>
